@model FingerprintACL.Models.tblEnroll

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblEnroll</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StaffID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Finger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Finger)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Template)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Template)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quality)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
